@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F3F8;
  
}
header{
    
   text-align: center;
    background-color:#2C2D3A;
    padding: 20px;
    
    
}

header h1 {
    background-color:#2C2D3A;
    color: white;
}

section{
    display: flex;
    justify-content: start;
    padding: 10px;
    padding-top: 10px;
}

#profile{
    background-color: #FFFFFF;
    width: 200px;
    margin: 15px;
    box-shadow: 0px 0px 3px gray;
    text-align: center;
    margin-left: 100px;
    padding: 10px;
    
    
}

#section {
    text-align: center;
    background-color: #FFFFFF;
    width: 800px;
    margin: 15px;
    box-shadow: 0px 0px 3px gray;
    
}

#profile h4, #section h3 {
background-color: #FFFFFF;
}

#profile h4{
    border-bottom: 1px solid #E7E7E7;
   
}



